*.swp
*.swo
deps*/*
objs*/*
objs_dis*/*
asmouts*/*
preprocs*/*
small_code_testing_things/*
*.elf
*.gba
disassembly_all_2.armasm
symbols.txt
linker_map.txt
copyright_text_thing.txt
disassembly*.armasm
*.sav*
*.ss*
*.gdb_history*
tags
types_*.taghl
spcpu_ca65_macro_pack*.bin
instructions_and_encodings.txt
used_addresses.txt
*.txt.ignore
open_all_source_files_in_vim.sh
